In [2]:
# Player Count

* Total Number of Players

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

SyntaxError: invalid syntax (<ipython-input-2-963ae7aa6fb1>, line 3)

In [3]:
#import dependencies and set up files
import pandas as pd
pymoli_purchase_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(pymoli_purchase_file)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
number_of_players = len(purchase_df["SN"].unique())
print ("Total Number of Players: " + str(number_of_players))

Total Number of Players: 576

In [6]:
#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue
number_of_items = len(purchase_df["Item Name"].unique())
print ("Total Number of Items: " + str(number_of_items))

average_price = purchase_df["Price"].mean()
print ("Average Price of Purchas: " + str(average_price))

total_purchases = purchase_df["Purchase ID"].count()
print ("Total Number of Purchases: " + str(total_purchases))

total_revenue = purchase_df["Price"].sum()
print ("Total Revenue: " + str(total_revenue))

Total Number of Items: 179
Average Price of Purchas: 3.050987179487176
Total Number of Purchases: 780
Total Revenue: 2379.77

In [59]:
### Gender Demographics
# Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
#purchase_df.groupby('SN').count()
male_df = purchase_df[purchase_df["Gender"] == "Male"]
number_of_males = len(male_df["SN"].unique())
[number_of_males, number_of_males / number_of_players * 100]

[484, 84.02777777777779]

In [60]:
female_df = purchase_df[purchase_df["Gender"] == "Female"]
number_of_females = len(female_df["SN"].unique())
[number_of_females, number_of_females / number_of_players * 100]

[81, 14.0625]

In [62]:
other_df = purchase_df[purchase_df["Gender"] == "Other / Non-Disclosed"]
number_of_other = len(other_df["SN"].unique())
[number_of_other, number_of_other / number_of_players*100]

[11, 1.9097222222222223]

In [49]:
484+81+11
652+113+15

576

In [50]:
purchase_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [71]:
male_purchases = len(male_df["SN"])
male_average_purchase = female_df["Price"].mean()
male_total_value = male_df["Price"].sum()
male_average_spend = male_total_value / number_of_males

In [70]:
female_purchases = len(female_df["SN"])
female_average_purchase = female_df["Price"].mean()
female_total_value = female_df["Price"].sum()
female_average_spend = female_total_value / number_of_females

In [68]:
other_purchases = len(other_df["SN"])
other_average_purchase = other_df["Price"].mean()
female_total_value = female_df["Price"].sum()
other_average_spend = other_total_value / number_of_

3.3460000000000005