In [18]:
#import dependencies and set up files
import pandas as pd
pymoli_purchase_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(pymoli_purchase_file)

purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [6]:
#Player Count
number_of_players = len(purchase_df["SN"].unique())
print ("Total Number of Players: " + str(number_of_players))

Total Number of Players: 576

In [4]:
#Purchasing Analysis (Totals)
number_of_items = len(purchase_df["Item Name"].unique())
print ("Total Number of Unique Items: " + str(number_of_items))

average_price = purchase_df["Price"].mean()
print ("Average Price of Purchas: " + str(average_price))

total_purchases = purchase_df["Purchase ID"].count()
print ("Total Number of Purchases: " + str(total_purchases))

total_revenue = purchase_df["Price"].sum()
print ("Total Revenue: " + str(total_revenue))
Purchase_Analysis = pd.DataFrame([{"Total Revenue": total_revenue, "Total Purchases": total_purchases, "Average Purchase Price": average_price, "Number of Unique Items": number_of_items}])
Purchase_Analysis

Total Number of Unique Items: 179
Average Price of Purchas: 3.050987179487176
Total Number of Purchases: 780
Total Revenue: 2379.77

,Total Revenue,Total Purchases,Average Purchase Price,Number of Unique Items
0,2379.77,780,3.050987,179

In [49]:
# Gender Demographics
male_df = purchase_df[purchase_df["Gender"] == "Male"]
number_of_males = len(male_df["SN"].unique())

female_df = purchase_df[purchase_df["Gender"] == "Female"]
number_of_females = len(female_df["SN"].unique())

other_df = purchase_df[purchase_df["Gender"] == "Other / Non-Disclosed"]
number_of_other = len(other_df["SN"].unique())

print(f"Number of Males: {number_of_males}, Percent of Males: {number_of_males / number_of_players * 100}")
print(f"Number of Females: {number_of_females}, Percent of Females: {number_of_females / number_of_players * 100}")
print(f"Number of Other: {number_of_other}, Percent of Other: {number_of_other / number_of_players * 100}")

Number of Males: 484, Percent of Males: 84.02777777777779
Number of Females: 81, Percent of Females: 14.0625
Number of Other: 11, Percent of Other: 1.9097222222222223

In [72]:
#Purchasing Analysis (Gender)
male_purchases = male_df["SN"].count()
male_average_purchase = male_df["Price"].mean()
male_total_value = male_df["Price"].sum()
male_average_spend = male_total_value / number_of_males

female_purchases = female_df["SN"].count()
female_average_purchase = female_df["Price"].mean()
female_total_value = female_df["Price"].sum()
female_average_spend = female_total_value / number_of_females

other_purchases = other_df["SN"].count()
other_average_purchase = other_df["Price"].mean()
other_total_value = other_df["Price"].sum()
other_average_spend = other_total_value / number_of_other

purchase_count = [male_purchases, female_purchases, other_purchases]
avg_purchase = [male_average_purchase, female_average_purchase, other_average_purchase]
purchase_values = [male_total_value, female_total_value, other_total_value]
avg_person_value = [male_average_spend, female_average_spend, other_average_spend]

genders = ['male', 'female', 'other']

gender_purchases = pd.DataFrame({'Purchase Count': purchase_count, 'Average Purchase Price':avg_purchase,
                                 'Total Purchase Value': purchase_values, 
                                 'Average Purchase Total Per Person': avg_person_value,
                                'Genders': genders})
gender_purchases.set_index('Genders', inplace = True)
gender_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Genders,,,,
male,652,3.017853,1967.64,4.065372
female,113,3.203009,361.94,4.468395
other,15,3.346000,50.19,4.562727

In [8]:
#Age Demopgrahics
bins = [4.9, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9, 49.9]
groupnames = ['5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40 to 44', '45 to 49']
purchase_df["Demographic"] = pd.cut(purchase_df['Age'], bins, labels=groupnames, include_lowest=True)

demographix = purchase_df.groupby('Demographic')
demographic_sums = demographix.sum()
demographic_counts = demographix.count()

people_per_demo = []
for x in groupnames:
    list1 = purchase_df[purchase_df["Demographic"] == x]
    number_per_demo = len(list1["SN"].unique())

    people_per_demo.append(number_per_demo)

demographic_data = pd.DataFrame({"Purchase Count": demographic_counts["Item ID"],
                                 "Average Purchase Price": demographic_sums["Price"] / demographic_counts['Item ID'],
                                'Total Purchase Value': demographic_sums["Price"],
                                'Average Purchase Total Per Person': demographic_sums["Price"] / people_per_demo})
demographic_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Demographic,,,,
5 to 9,23,3.353478,77.13,4.537059
10 to 14,28,2.956429,82.78,3.762727
15 to 19,136,3.035956,412.89,3.858785
20 to 24,365,3.052219,1114.06,4.318062
25 to 29,101,2.900990,293.00,3.805195
30 to 34,73,2.931507,214.00,4.115385
35 to 39,41,3.601707,147.67,4.763548
40 to 44,12,3.045000,36.54,3.321818
45 to 49,1,1.700000,1.70,1.700000

In [14]:
#Top Spenders
users = purchase_df.groupby("SN")
sn_counts = users.count()['Price']
sn_sums = users.sum()['Price']
sn_avg = users.mean()['Price']

summary_df = pd.DataFrame({"Purchase Count": sn_counts, "Average Purchase Price": sn_avg, "Total Purchase Value": sn_sums})
show_df = summary_df.sort_values("Total Purchase Value", ascending = False)
show_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [35]:
itemcounts = purchase_df["Item Name"].value_counts()
itemvalues = purchase_df['Price'].sum()
i
item_df = purchase_df.set_index('Item Name')

NameError: name 'purchase' is not defined

In [33]:
#Most Popular Items
items = purchase_df.groupby("Item Name")

item_sums = items.sum()
item_counts = items.count()
popular_df = pd.DataFrame({"Item ID": item_sums['Item ID'] / item_counts['Price'],
                          "Purchase Count": item_counts['Purchase ID'],
                           "Item Price": item_sums['Price'] / item_counts['Price'],
                          "Total Purchase Value": item_sums['Price']})
popular_df = popular_df.sort_values('Purchase Count', ascending = False)
popular_df.head(6)

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,92.0,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",178.0,12,4.230000,50.76
Persuasion,132.0,9,3.221111,28.99
Nirvana,82.0,9,4.900000,44.10
"Extraction, Quickblade Of Trembling Hands",108.0,9,3.530000,31.77
Fiery Glass Crusader,145.0,9,4.580000,41.22

In [31]:
#Most Profitable Items
profit_items = popular_df.sort_values('Total Purchase Value', ascending = False)
profit_items.head()

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,92.0,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",178.0,12,4.230000,50.76
Nirvana,82.0,9,4.900000,44.10
Fiery Glass Crusader,145.0,9,4.580000,41.22
Singed Scalpel,103.0,8,4.350000,34.80