In [1]:
#import dependencies and set up files
import pandas as pd
pymoli_purchase_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(pymoli_purchase_file)

In [2]:
#Player Count
number_of_players = len(purchase_df["SN"].unique())
print ("Total Number of Players: " + str(number_of_players))

Total Number of Players: 576

In [3]:
#Purchasing Analysis (Totals)
number_of_items = len(purchase_df["Item Name"].unique())

average_price = purchase_df["Price"].mean()

total_purchases = purchase_df["Purchase ID"].count()

total_revenue = purchase_df["Price"].sum()

Purchase_Analysis = pd.DataFrame([{"Total Revenue": total_revenue, "Total Purchases": total_purchases, "Average Purchase Price": average_price, "Number of Unique Items": number_of_items}])
Purchase_Analysis["Total Revenue"] = Purchase_Analysis["Total Revenue"].map("${:.2f}".format)
Purchase_Analysis["Average Purchase Price"] = Purchase_Analysis["Average Purchase Price"].map("${:.2f}".format)

Purchase_Analysis

,Total Revenue,Total Purchases,Average Purchase Price,Number of Unique Items
0,$2379.77,780,$3.05,179

In [4]:
# Gender Demographics
male_df = purchase_df[purchase_df["Gender"] == "Male"]
number_of_males = len(male_df["SN"].unique())

female_df = purchase_df[purchase_df["Gender"] == "Female"]
number_of_females = len(female_df["SN"].unique())

other_df = purchase_df[purchase_df["Gender"] == "Other / Non-Disclosed"]
number_of_other = len(other_df["SN"].unique())

print(f"Number of Males: {number_of_males} | Percent of Males: {round(number_of_males / number_of_players * 100, 2)}%")
print(f"Number of Females: {number_of_females} | Percent of Females: {round(number_of_females / number_of_players * 100, 2)}%")
print(f"Number of Other: {number_of_other} | Percent of Other: {round(number_of_other / number_of_players * 100, 2)}%")

Number of Males: 484 | Percent of Males: 84.03%
Number of Females: 81 | Percent of Females: 14.06%
Number of Other: 11 | Percent of Other: 1.91%

In [5]:
#Purchasing Analysis (Gender)
male_purchases = male_df["SN"].count()
male_average_purchase = male_df["Price"].mean()
male_total_value = male_df["Price"].sum()
male_average_spend = male_total_value / number_of_males

female_purchases = female_df["SN"].count()
female_average_purchase = female_df["Price"].mean()
female_total_value = female_df["Price"].sum()
female_average_spend = female_total_value / number_of_females

other_purchases = other_df["SN"].count()
other_average_purchase = other_df["Price"].mean()
other_total_value = other_df["Price"].sum()
other_average_spend = other_total_value / number_of_other

purchase_count = [male_purchases, female_purchases, other_purchases]
avg_purchase = [male_average_purchase, female_average_purchase, other_average_purchase]
purchase_values = [male_total_value, female_total_value, other_total_value]
avg_person_value = [male_average_spend, female_average_spend, other_average_spend]

genders = ['male', 'female', 'other']

gender_purchases = pd.DataFrame({'Purchase Count': purchase_count, 'Average Purchase Price':avg_purchase,
                                 'Total Purchase Value': purchase_values, 
                                 'Average Purchase Total Per Person': avg_person_value,
                                'Genders': genders})

gender_purchases.set_index('Genders', inplace = True)

gender_purchases['Average Purchase Price'] = gender_purchases['Average Purchase Price'].map("${:.2f}".format)
gender_purchases['Total Purchase Value'] = gender_purchases['Total Purchase Value'].map("${:.2f}".format)
gender_purchases[ 'Average Purchase Total Per Person'] = gender_purchases[ 'Average Purchase Total Per Person'].map("${:.2f}".format)

gender_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Genders,,,,
male,652,$3.02,$1967.64,$4.07
female,113,$3.20,$361.94,$4.47
other,15,$3.35,$50.19,$4.56

In [6]:
#Age Demopgrahics
bins = [4.9, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9, 49.9]
groupnames = ['5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40 to 44', '45 to 49']
purchase_df["Demographic"] = pd.cut(purchase_df['Age'], bins, labels=groupnames, include_lowest=True)

people_per_demo = []
for x in groupnames:
    list1 = purchase_df[purchase_df["Demographic"] == x]
    number_per_demo = len(list1["SN"].unique())

    people_per_demo.append(number_per_demo)
    
people_groups = pd.DataFrame({'Number of People': people_per_demo, 'Demographics': groupnames})
people_groups['Percentage of People'] = people_groups["Number of People"] / number_of_players * 100
people_groups['Percentage of People'] = people_groups['Percentage of People'].map("{:.2f}%".format)
people_groups.set_index('Demographics', inplace= True)
people_groups

              Number of People Percentage of People
Demographics
5 to 9                      17                2.95%
10 to 14                    22                3.82%
15 to 19                   107               18.58%
20 to 24                   258               44.79%
25 to 29                    77               13.37%
30 to 34                    52                9.03%
35 to 39                    31                5.38%
40 to 44                    11                1.91%
45 to 49                     1                0.17%

In [7]:
#Purchasing Analysis (Age)
demographics = purchase_df.groupby('Demographic')

demographic_sums = demographics.sum()
demographic_counts = demographics.count()



demographic_data = pd.DataFrame({"Purchase Count": demographic_counts["Item ID"],
                                 "Average Purchase Price": demographic_sums["Price"] / demographic_counts['Item ID'],
                                'Total Purchase Value': demographic_sums["Price"],
                                'Average Purchase Total Per Person': demographic_sums["Price"] / people_per_demo})

demographic_data["Average Purchase Price"] = demographic_data["Average Purchase Price"].map("${:.2f}".format)
demographic_data['Total Purchase Value'] = demographic_data['Total Purchase Value'].map("${:.2f}".format)
demographic_data['Average Purchase Total Per Person'] = demographic_data['Average Purchase Total Per Person'].map("${:.2f}".format)

demographic_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Demographic,,,,
5 to 9,23,$3.35,$77.13,$4.54
10 to 14,28,$2.96,$82.78,$3.76
15 to 19,136,$3.04,$412.89,$3.86
20 to 24,365,$3.05,$1114.06,$4.32
25 to 29,101,$2.90,$293.00,$3.81
30 to 34,73,$2.93,$214.00,$4.12
35 to 39,41,$3.60,$147.67,$4.76
40 to 44,12,$3.04,$36.54,$3.32
45 to 49,1,$1.70,$1.70,$1.70

In [8]:
#Top Spenders
users = purchase_df.groupby("SN")
sn_counts = users.count()['Price']
sn_sums = users.sum()['Price']
sn_avg = users.mean()['Price']

summary_df = pd.DataFrame({"Purchase Count": sn_counts,
                           "Average Purchase Price": sn_avg,
                           "Total Purchase Value": sn_sums})

show_df = summary_df.sort_values("Total Purchase Value", ascending = False)

show_df["Average Purchase Price"] = show_df["Average Purchase Price"].map("${:.2f}".format)
show_df["Total Purchase Value"] = show_df["Total Purchase Value"].map("${:.2f}".format)


show_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [9]:
#Most Popular Items
items = purchase_df.groupby("Item Name")

item_sums = items.sum()
item_counts = items.count()
popular_df = pd.DataFrame({"Item ID": item_sums['Item ID'] / item_counts['Price'],
                          "Purchase Count": item_counts['Purchase ID'],
                           "Item Price": item_sums['Price'] / item_counts['Price'],
                          "Total Purchase Value": item_sums['Price']})
profit_df = popular_df

popular_df = popular_df.sort_values('Purchase Count', ascending = False)

popular_df["Total Purchase Value"] = popular_df["Total Purchase Value"].map("${:.2f}".format)
popular_df["Item Price"] = popular_df["Item Price"].map("${:.2f}".format)


popular_df.head(6)

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,92.0,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",178.0,12,$4.23,$50.76
Persuasion,132.0,9,$3.22,$28.99
Nirvana,82.0,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",108.0,9,$3.53,$31.77
Fiery Glass Crusader,145.0,9,$4.58,$41.22

In [10]:
#Most Profitable Items
profit_items = profit_df.sort_values('Total Purchase Value', ascending = False)

profit_items["Total Purchase Value"] = profit_items["Total Purchase Value"].map("${:.2f}".format)
profit_items["Item Price"] = profit_items["Item Price"].map("${:.2f}".format)

profit_items.head()

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,92.0,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",178.0,12,$4.23,$50.76
Nirvana,82.0,9,$4.90,$44.10
Fiery Glass Crusader,145.0,9,$4.58,$41.22
Singed Scalpel,103.0,8,$4.35,$34.80